:root {
  --bg-light: #fff;
  --bg-dark: #eee;
  --fg-light: #636363;
  --fg-dark: #212121;
  --accent: #00bfa5;
  --font: "Overpass Mono";
}


h4 {
  color: var(--fg-light);
}

a {
  color: var(--accent);
  text-decoration: none;
  box-shadow: 0 2px 0 var(--bg-dark);
}

a:hover {
  box-shadow: 0 2px 0 var(--fg-light);
}

li {
  margin: .5em 0;
}

cmd {
  color: #e91e63;
}

flag {
  color: #3f51b5;
}

arg {
  color: #009688;
}

code {
  display: block;
  overflow: auto;
  white-space: nowrap;
  padding: .5em;
}

kbd {
  padding: .25em;
}

code,
kbd {
  background: var(--bg-dark);
}

code,
kbd,
body {
  font-family: var(--font), monospace;
}

body {
  background: var(--bg-light);
  color: var(--fg-dark);
}

header,
section,
footer {
  margin: 2.5em 0;
}

header > h1 {
  color: var(--accent);
  text-shadow: 0 2px 0 var(--bg-dark);
}

footer {
  font-size: .9em;
  text-align: center;
}
